* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
}

h1,
h2 {
  line-height: 55px;
}

a {
  text-decoration: none;
}

/* Utilities */
.responsive-img {
  max-width: 100%;
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

/* Showcase */
#showcase {
  background: #020230;
}

#showcase h1 {
  line-height: 1.5;
}

/* Navbar */
.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
}

/* Features */
#features .v-alert {
  cursor: pointer;
}

/* Call To Action */
#cta {
  background: #020230;
}

/* Pricing */
#pricing .v-data-table th {
  text-transform: uppercase;
  font-size: 14px;
}

#pricing .v-data-table td {
  font-size: 16px;
  color: #775577;
}

#pricing .v-data-table td:first-child {
  font-weight: 500;
}

/* CTA 2 */
#cta-2 {
  position: relative;
}

#cta-2 .v-overlay__content {
  width: 100%;
}
