<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/vuetify-v2.2.29.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>VaasLand</title>
  </head>

  <body>
    <v-app v-cloak id="Vaasland">
      <!-- Sidebar -->
      <v-navigation-drawer app v-model="drawer" temporary>
        <v-list nav>
          <v-list-item-group active-class="deep-purple--text text--accent-4">
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-home</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-icon>
                <v-icon>
                  mdi-heart
                </v-icon>
              </v-list-item-icon>
              <v-list-item-title>About</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>

      <!-- Navbar -->
      <!-- <v-app-bar height="80" app fixed flat>
        <v-container pa-0>
          <v-row align="center">
            <a href="#!">
              <img src="img/logo.png" class="responsive-img" />
            </a>

            <v-spacer></v-spacer>

            <div v-if="$vuetify.breakpoint.mdAndUp">
              <v-hover
                v-slot:default="{ hover }"
                v-for="(link, index) in links"
                :key="index"
              >
                <v-btn :href="link.href" text :color='hover ? "error" : ""'
                  >{{ link.name }}</v-btn
                >
              </v-hover>
            </div>
            <v-app-bar-nav-icon
              @click="drawer = !drawer"
              class="hidden-md-and-up"
            ></v-app-bar-nav-icon>
          </v-row>
        </v-container>
      </v-app-bar> -->

      <nav class="navbar white">
        <v-container pa-0>
          <v-toolbar fixed flat height="90">
            <a href="#!" class="responsive-img">
              <img src="img/logo.png" alt="logo" />
            </a>

            <v-spacer></v-spacer>

            <v-toolbar-items v-if="$vuetify.breakpoint.mdAndUp">
              <v-btn v-for="(link, index) in links"
              :key="index" text :href="link.href">{{ link.name }}</v-btn>
              <div class="d-flex align-center ml-4">
                <v-hover v-slot:default="{ hover }">
                  <v-btn color="error" depressed large :elevation="hover ? '5' : '0' ">Client Zone</v-btn co>
                </v-hover>
              </div>
            </v-toolbar-items>
            <v-app-bar-nav-icon
              @click="drawer = !drawer"
              class="hidden-md-and-up"
            ></v-app-bar-nav-icon>
          </v-toolbar>
        </v-container>
      </nav>

      <v-content>
        <!-- Section: Showcase -->
        <section id="showcase" class="white--text">
          <v-container py-0>
            <v-row align="center">
              <v-col cols="12" sm="12" md="6">
                <h1 class="display-2 font-weight-black mb-4">
                  Web Hosting / VPN<br />Digital Technology Modern Solution !
                </h1>
                <p class="title font-weight-regular mb-8">
                  Get stuffed mate cheeky bugger lurgy loo plastered ruddy
                  bubble and squeak bevvy skive off quaint wellies.
                </p>
                <v-btn
                  color="error"
                  dark
                  elevation="24"
                  x-large
                  class="text-capitalize"
                  >Get Started</v-btn
                >
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-img src="img/hosting-image.png"></v-img>
              </v-col>
            </v-row>
          </v-container>
        </section>

        <!-- Section: Services -->
        <section id="services" class="py-12 mt-12">
          <v-container>
            <div class="text-center mb-4">
              <h2 class="display-1 font-weight-medium">Looking for domain name?</h2>
            </div>
            <v-row>
              <v-col cols="12" sm="12">
                <v-alert border="left" colored-border color="error" elevation="24">
                  <v-row no-gutters align="center">
                    <v-col cols="12" sm="6" md="7">
                      <v-text-field solo flat hide-details placeholder="Enter your domain name" class="title font-weight-regular"></v-text-field>
                    </v-col>
      
                      <v-divider class="mr-3" inset vertical></v-divider>
           
                    
                    <v-col cols="12" sm="2" md="2">
                      <v-select
                      v-model="servicesSelect"
                      :items="names"
                      menu-props="auto"
                      hide-details
                      single-line
                      solo
                      flat
                      item-color="blue-grey darken-3"
                      color="error"
                      class="title font-weight-regular"
                     ></v-select>
                    </v-col>
                    <v-col cols="12" sm="2" md="2" class="ml-4">
                      <v-btn color="error lighten-1" elevation="6" x-large height="80" width="210">
                        <v-icon left>mdi-magnify</v-icon>
                        Search
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-alert>
              </v-col>
            </v-row>
            <v-row align="center" justify="center" class="text-center grey--text text--darken-1">
              <v-col cols="2" sm="2" class="d-sm-flex d-xs-block align-center justify-space-around px-lg-10 px-0" v-for="(domen, i) in domens" :key="i">
                <h3>{{ domen.name }}</h3>
                <p class="ma-0">{{ domen.cost }}</p>
              </v-col>
            </v-row>
          </v-container>

        </section>

      </v-content>
    </v-app>

    <script src="js/vue.js"></script>
    <script src="js/vuetify-v2.2.29.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
