<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/vuetify-v2.2.29.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>VaasLand</title>
  </head>

  <body>
    <v-app v-cloak id="Vaasland">
      <!-- Sidebar -->
      <v-navigation-drawer app v-model="drawer" temporary>
        <v-list nav>
          <v-list-item-group active-class="deep-purple--text text--accent-4">
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-home</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon>
                  mdi-heart
                </v-icon>
              </v-list-item-icon>
              <v-list-item-title>About</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>

      <!-- Navbar -->
      <!-- <v-app-bar height="80" app fixed flat>
        <v-container pa-0>
          <v-row align="center">
            <a href="#!">
              <img src="img/logo.png" class="responsive-img" />
            </a>

            <v-spacer></v-spacer>

            <div v-if="$vuetify.breakpoint.mdAndUp">
              <v-hover
                v-slot:default="{ hover }"
                v-for="(link, index) in links"
                :key="index"
              >
                <v-btn :href="link.href" text :color='hover ? "error" : ""'
                  >{{ link.name }}</v-btn
                >
              </v-hover>
            </div>
            <v-app-bar-nav-icon
              @click="drawer = !drawer"
              class="hidden-md-and-up"
            ></v-app-bar-nav-icon>
          </v-row>
        </v-container>
      </v-app-bar> -->

      <nav class="navbar white elevation-1">
        <v-container pa-0>
          <v-toolbar fixed flat height="90">
            <a href="#!" class="responsive-img">
              <img src="img/logo.png" alt="logo" />
            </a>

            <v-spacer></v-spacer>

            <v-toolbar-items v-if="$vuetify.breakpoint.mdAndUp">
              <v-hover
                v-slot:default="{ hover }"
                v-for="(link, index) in links"
                :key="index"
              >
                <v-btn :href="link.href" text :color='hover ? "error" : ""'
                  >{{ link.name }}</v-btn
                >
              </v-hover>
              
              <div class="d-flex align-center ml-4">
                <v-hover v-slot:default="{ hover }">
                  <v-btn color="error" depressed large :elevation="hover ? '5' : '0'" class="text-capitalize">Client Zone</v-btn>
                </v-hover>
              </div>
            </v-toolbar-items>
            <v-app-bar-nav-icon
              @click="drawer = !drawer"
              class="hidden-md-and-up"
            ></v-app-bar-nav-icon>
          </v-toolbar>
        </v-container>
      </nav>

      <v-content>
        <!-- Section: Showcase -->
        <section id="showcase" class="white--text">
          <v-container py-0>
            <v-row align="center">
              <v-col cols="12" sm="6" md="6">
                <h1 class="display-2 font-weight-black mb-4">
                  Web Hosting / VPN <br class="d-none d-md-block"/>Digital Technology Modern Solution!
                </h1>
                <p class="title font-weight-regular mb-8">
                  Get stuffed mate cheeky bugger lurgy loo plastered ruddy
                  bubble and squeak bevvy skive off quaint wellies.
                </p>
                <v-btn
                  color="error"
                  dark
                  elevation="24"
                  x-large
                  class="text-capitalize"
                  >Get Started</v-btn
                >
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-img src="img/hosting-image.png"></v-img>
              </v-col>
            </v-row>
          </v-container>
        </section>

        <!-- Section: Services -->
        <section id="services" class="py-12 mt-12">
          <v-container>
            <div class="text-center mb-4">
              <h2 class="display-1 font-weight-medium grey--text text--darken-3">Looking for domain name?</h2>
            </div>
            <v-row>
              <v-col cols="12" sm="12">
                <v-alert border="left" colored-border color="error" elevation="24">
                  <v-row no-gutters align="center">
                    <v-col cols="12" sm="6" md="7">
                      <v-text-field solo flat hide-details placeholder="Enter your domain name" class="title font-weight-regular"></v-text-field>
                    </v-col>
      
                      <v-divider class="mr-3" inset vertical></v-divider>
           
                    <v-col cols="12" sm="2" md="2">
                      <v-select
                      v-model="servicesSelect"
                      :items="names"
                      menu-props="auto"
                      hide-details
                      single-line
                      solo
                      flat
                      item-color="blue-grey darken-3"
                      color="error"
                      class="title font-weight-regular"
                     ></v-select>
                    </v-col>
                    <v-col cols="12" sm="2" md="2" class="ml-4">
                      <v-btn color="error lighten-1" elevation="6" x-large height="80" width="210">
                        <v-icon left>mdi-magnify</v-icon>
                        Search
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-alert>
              </v-col>
            </v-row>
            <v-row align="center" justify="center" class="text-center grey--text text--darken-1 mt-4">
              <v-col cols="2" sm="2" class="d-sm-flex d-xs-block align-center justify-space-around px-lg-10 px-0" v-for="(domen, i) in domens" :key="i">
                <h3 class="font-weight-medium">{{ domen.name }}</h3>
                <p class="ma-0">{{ domen.cost }}</p>
              </v-col>
            </v-row>
          </v-container>
        </section>

        <!-- Section: Features -->
        <section id="features" class="py-12">
          <v-container>
            <div class="text-center">
              <h2 class="display-2 font-weight-medium grey--text text--darken-3 mb-6">
                Designed for developers.
                <br class="d-none d-md-block"/>
                Built for business.
              </h2>
              <p class="grey--text text--darken-1">The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br class="d-none d-md-block"/>
                Why gormless, pear shaped.!</p>
            </div>
            <v-row>
              <v-col cols="12" sm="6" md="4" v-for="(box, i) in featuresBox" :key="i">
                <v-hover v-slot:default="{ hover }">
                  <v-alert class="px-8 pt-8 mb-0" :border="hover ? 'top' : 'top' " colored-border :color="hover ? 'error' : 'transparent'" :elevation="hover ? '3' : '0'">
                    <div class="py-8">
                      <div class="mb-6 ml-3">
                        <img :src="box.img">
                      </div>
                    <v-hover v-slot:default="{hover}">
                    <h4 class="headline mb-4" :class="hover  ? 'error--text' : 'grey--text text--darken-4'">
                      {{ box.title }}
                    </h4>
                  </v-hover>
                  <p class="grey--text text--darken-1">{{ box.text }}</p>                       
                  </div>
                  </v-alert>
                </v-hover>
              </v-col>
            </v-row>
          </v-container>
        </section>

        <section id="features-2" class="py-10">
          <v-container>
            <v-row align="center">
              <v-col cols="12" sm="12" md="6">
                <img src="img/business1.png">
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <h2 class="display-2 font-weight-regular grey--text text--darken-3 mb-5">
                  Solutions for Your small business
                </h2>
                <p class="grey--text text-darken-2 mb-6">Don't get shirty with me owt to do with me arse down the pub have it car boot happy days no biggie bevvy only a quid I, in my flat the little rotter cheeky.!</p>
                <div class="mb-4">
                    <img src="img/icon7.png" class="float-left mt-1 mr-5">
                  <div class="overflow-hidden">
                    <h4 class="title mb-2">
                      High Speed Server
                    </h4>
                    <p class="blue-grey--text text--darken-1">Hunky dory barney fanny around up<br/>the duff no biggie.</p>
                  </div>
                </div>
                <div>
                    <img src="img/icon8.png" class="float-left mt-1 mr-5">
                  <div class="overflow-hidden">
                    <h4 class="title mb-2">
                      Move Faster
                    </h4>
                    <p class="blue-grey--text text--darken-1">Hunky dory barney fanny around up<br/>the duff no biggie.</p>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </section>

        <section id="features-3" class="py-10">
          <v-container>
            <v-row align="center">
              <v-col cols="12" sm="12" md="6">
                <h2 class="display-2 font-weight-regular grey--text text--darken-3 mb-5">
                  Quick and easy to <br/>get started
                </h2>
                <p class="grey--text text-darken-2 mb-6">Don't get shirty with me owt to do with me arse down the pub have it car boot happy days no biggie bevvy only a quid I, in my flat the little rotter cheeky.!</p>
                <div class="mb-4">
                    <img src="img/icon9.png" class="float-left mt-1 mr-5">
                  <div class="overflow-hidden">
                    <h4 class="title mb-2">
                      Reseller Hosting
                    </h4>
                    <p class="blue-grey--text text--darken-1">Hunky dory barney fanny around up<br/>the duff no biggie.</p>
                  </div>
                </div>
                <div>
                    <img src="img/icon10.png" class="float-left mt-1 mr-5">
                  <div class="overflow-hidden">
                    <h4 class="title mb-2">
                      Wordpress Hosting
                    </h4>
                    <p class="blue-grey--text text--darken-1">Hunky dory barney fanny around up<br/>the duff no biggie.</p>
                  </div>
                </div>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <img src="img/business2.png">
              </v-col>
            </v-row>
          </v-container>
        </section>

        <!-- Section: CTA -->
        <section id="cta" class="py-12">
          <v-container>
            <v-row align="center">
              <v-col cols="12" md="6">
                <img src="img/action_img.png">
              </v-col>
              <v-col cols="12" md="6">
                <h2 class="display-2 white--text font-weight-medium mb-6">Managed wordpress Hosting on all plans</h2>
                <p class="blue--text text--lighten-4 mb-10">Spiffing pukka show off show off pick your nose and blow off easy peasy buggered hotpot Harry, pardon me blatant.!</p>
                <v-btn color="error" x-large class="text-capitalize">Product docs</v-btn>
              </v-col>
            </v-row>
          </v-container>
      </section>

      <!-- Section: Pricing -->
      <section id="pricing" class="py-12 my-12">
        <v-container>
          <div class="text-center">
            <h2 class="display-2 font-weight-medium grey--text text--darken-3 mb-6">
              Check out awesome plans,
              <br class="d-none d-md-block" />
              Built for business.
            </h2>
            <p class="grey--text text--darken-1">The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br class="d-none d-md-block"/>
              Why gormless, pear shaped.!</p>
          </div>
          <v-row>
            <v-col cols="12" sm="10" class="mx-auto">
              <v-card outlined class="pa-6">
                <v-tabs
                v-model="pricingTab"
                background-color="transparent"
                color="error"
                grow
                show-arrows
              >
              <v-tabs-slider></v-tabs-slider>

                <v-tab>Standard</v-tab>
                <v-tab>CPU Optimization</v-tab>
                <v-tab>General Purpose</v-tab>
              </v-tabs>

  
              <div class="my-12">
                <p class="grey--text text--darken-1">Oxford William owt to do with me Why cuppa buggered, nancy boy get stuffed mate absolutely bladdered blag matie boy the full monty bobby bleeder.</p>
              </div>
          
              <v-tabs-items v-model="pricingTab">
                <v-tab-item v-for="i in 3" :key="i.name"
                >
                <v-data-table
                :headers="priceHeaders"
                :items="dataPrice"
                hide-default-footer
              >
                <template v-slot:item.plan="{ item }">
                  <v-btn color="error lighten-1" class="text-capitalize" small outlined>{{ item.plan }}</v-btn>
                </template>
              </v-data-table>
                </v-tab-item>
              </v-tabs-items>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </section>
        
      <!-- Section: Blog -->
      <section id="blog" class="py-12">
        <v-container>
          <div class="text-center mb-6">
            <h2 class="display-2 font-weight-medium grey--text text--darken-3 mb-6">
              Our Latest News
            </h2>
            <p class="grey--text text--darken-1">The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br class="d-none d-md-block"/>
              Why gormless, pear shaped.!</p>
          </div>
          <v-row>
            <v-col cols="12" sm="6" v-for="blog in blogs" :key="blog.id"> 
              <v-card outlined>
                <v-img
                :src="blog.img"
              >
              </v-img>
              <div class="px-4">
                <v-card-subtitle class="text-uppercase grey--text text--darken-2 pt-6 pb-0">
                <v-icon color="error">mdi-clock-outline</v-icon>
                {{ blog.subtitle }}
              </v-card-subtitle>
              <v-card-title>
                <v-hover v-slot:default="{ hover }">
                  <a href="#!" :class="hover ? 'error--text' : 'grey--text text--darken-3' " class="headline">
                    {{ blog.title }}
                  </a>
              </v-hover>
              </v-card-title>
              
                <v-card-actions class=" pt-0">
                  <v-hover v-slot:default="{ hover }">
                    <v-btn text :color="hover ? 'error' : '' ">
                      Read More
                      <v-icon :color="hover ? 'error' : ''">
                        mdi-trending-neutral
                      </v-icon>
                    </v-btn>
                  </v-hover>
                  <v-spacer></v-spacer>
                  <v-btn text>
                    <v-icon left color="error">mdi-chat-outline</v-icon>
                    {{ blog.comments }}
                  </v-btn>
                </v-card-actions>
              </div>
              
              </v-card>
            </v-col>
          </v-row>
        </v-container>

      </section>

      </v-content>
    </v-app>

    <script src="js/vue.js"></script>
    <script src="js/vuetify-v2.2.29.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
